<section class="ninas-section" id="ninas">
  <div class="ninas-container">

    <h2>Ropa para Niñas</h2>
    <p class="ninas-desc">
      Elegí entre nuestras prendas para niñas: cómodas, delicadas y perfectas para cada ocasión.
    </p>

    <div class="ninas-galeria">

      <!-- Card 1 -->
      <div class="ninas-card">
        <img src="../../../../../assets/cardigan.webp" alt="Ropa niñas 1">
        <h3>Cardigan</h3>
        <p>Talles 1 a 4</p>
      </div>

      <!-- Card 2 -->
      <div class="ninas-card">
        <img src="../../../../../assets/enterito largo.webp" alt="Ropa niñas 2">
        <h3>Enterito Largo</h3>
        <p>Talles 1 a 3</p>
      </div>

      <!-- Card 3 -->
      <div class="ninas-card">
        <img src="../../../../../assets/enterito.webp" alt="Ropa niñas 3">
        <h3>Enterito Corazones</h3>
        <p>Talles 2 a 5</p>
      </div>

      <!-- Card 4 -->
      <div class="ninas-card">
        <img src="../../../../../assets/jardinero.webp" alt="Ropa niñas 4">
        <h3>Jardinero</h3>
        <p>Talles 1 a 6</p>
      </div>

      <!-- Card 5 -->
      <div class="ninas-card">
        <img src="../../../../../assets/pantalon corto.webp" alt="Ropa niñas 5">
        <h3>Pantalon Corto</h3>
        <p>Talles 2 a 6</p>
      </div>

      <!-- Card 6 -->
      <div class="ninas-card">
        <img src="../../../../../assets/pantalon largo.webp" alt="Ropa niñas 6">
        <h3>Pantalon Largo</h3>
        <p>Talles 1 a 5</p>
      </div>

      <!-- Card 7 -->
      <div class="ninas-card">
        <img src="../../../../../assets/vestido1.webp" alt="Ropa niñas 7">
        <h3>Vestido Brianna </h3>
        <p>Talles 0 a 3</p>
      </div>

      <!-- Card 8 -->
      <div class="ninas-card">
        <img src="../../../../../assets/vestido2.webp" alt="Ropa niñas 8">
        <h3>Vestido Clari</h3>
        <p>Talles 1 a 4</p>
      </div>

      <!-- Card 9 -->
      <div class="ninas-card">
        <img src="../../../../../assets/remerawish.webp" alt="Ropa niñas 9">
        <h3>Remera Wish</h3>
        <p>Talles 1 a 3</p>
      </div>

      <!-- Card 10 -->
      <div class="ninas-card">
        <img src="../../../../../assets/chalecozaida.webp" alt="Ropa niñas 10">
        <h3>Chaleco Zaida</h3>
        <p>Talles 1 a 4</p>
      </div>

     

    </div>
  </div>
</section>

