/* Contenedor del carrusel */
#carouselExample {
  max-width: 650px;     /* Antes estaba en 900px */
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Imágenes del carrusel */
#carouselExample img {
  height: 320px;        /* Antes 450px */
  object-fit: cover;
}

/* Flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 35px;
  height: 35px;
}

/* Hover flechas */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}


/* descuentos */
.ofertas {
  padding: 40px 20px;
  background-color: #f8f3ff;
  text-align: center;
  margin-top: 20px;
}

.ofertas h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #7b4b9a;
  font-weight: bold;
}

.ofertas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.producto {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.producto:hover {
  transform: scale(1.04);
}

/* Carrusel dentro de las tarjetas */
.producto .carousel {
  border-radius: 10px;
  overflow: hidden;
}

.producto img {
  width: 100%;
  height: auto;
}

.producto h3 {
  margin: 12px 0;
  font-size: 1.1rem;
  color: #444;
}

.precio-anterior {
  text-decoration: line-through;
  color: #b8b8b8;
}

.precio-oferta {
  font-size: 1.3rem;
  color: #e43f5a;
  font-weight: bold;
}

.btn-comprar {
  background-color: #7b4b9a;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-comprar:hover {
  background-color: #65397d;
}
