<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/ofertasss.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://mimoar.vtexassets.com/assets/vtex.file-manager-graphql/images/954ed037-dbdb-4712-8a2d-9f0d0d8cee5c___882491cd2cb75e2824c4d87ac21d5423.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://mimoar.vtexassets.com/assets/vtex.file-manager-graphql/images/4048c6b0-141d-41ce-8384-f41563dbd347___772716e5981370628b51a51751f3761d.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>