<section class="ninos-section" id="ninos">
  <div class="ninos-container">
    
    <h2>Ropa para Niños</h2>
    <p class="ninos-desc">
      Descubrí nuestra colección para niños: prendas cómodas, suaves y pensadas para acompañar cada momento especial.
    </p>

    <div class="ninos-galeria">

      <!-- Card 1 -->
      <div class="ninos-card">
        <img src="../../../../../assets/bermudaniño.webp" alt="Ropa niños 1">
        <h3>Bermuda de Jean</h3>
        <p>Talles 1 a 4</p>
      </div>

      <!-- Card 2 -->
      <div class="ninos-card">
        <img src="../../../../../assets/bodyniño2.webp" alt="Ropa niños 2">
        <h3>Body de Algodón</h3>
        <p>Talles 1 a 3</p>
      </div>

      <!-- Card 3 -->
      <div class="ninos-card">
        <img src="../../../../../assets/buzo1niño.webp" alt="Ropa niños 3">
        <h3>Buzo de Algodón</h3>
        <p>Talles 2 a 5</p>
      </div>

      <!-- Card 4 -->
      <div class="ninos-card">
        <img src="../../../../../assets/buzoniño.webp" alt="Ropa niños 4">
        <h3>Buzo con Estampa</h3>
        <p>Talles 1 a 6</p>
      </div>

      <!-- Card 5 -->
      <div class="ninos-card">
        <img src="../../../../../assets/camisa1.webp" alt="Ropa niños 5">
        <h3>Camisa Matt</h3>
        <p>Talles 2 a 6</p>
      </div>

      <!-- Card 6 -->
      <div class="ninos-card">
        <img src="../../../../../assets/camisa.webp" alt="Ropa niños 6">
        <h3>Camisa Resort</h3>
        <p>Talles 1 a 5</p>
      </div>

      <!-- Card 7 -->
      <div class="ninos-card">
        <img src="../../../../../assets/pantalonniño.webp" alt="Ropa niños 7">
        <h3>Bermuda de Jean</h3>
        <p>Talles 0 a 3</p>
      </div>

      <!-- Card 8 -->
      <div class="ninos-card">
        <img src="../../../../../assets/pijamaniño.webp" alt="Ropa niños 8">
        <h3>Pijama Dino</h3>
        <p>Talles 1 a 4</p>
      </div>

      <!-- Card 9 -->
      <div class="ninos-card">
        <img src="../../../../../assets/camperajean.webp" alt="Ropa niños 9">
        <h3>Campera Jean</h3>
        <p>Talles 1 a 3</p>
      </div>

      <!-- Card 10 -->
      <div class="ninos-card">
        <img src="../../../../../assets/jardineroniño.webp" alt="Ropa niños 10">
        <h3>Jardinero </h3>
        <p>Talles 1 a 4</p>
      </div>

            <!-- Card 11 -->
      <div class="ninos-card">
        <img src="../../../../../assets/joggingniño.webp" alt="Ropa niños 11">
        <h3>Jogging Cargo</h3>
        <p>Talles 2 a 6</p>
      </div>

      <!-- Card 12 -->
      <div class="ninos-card">
        <img src="../../../../../assets/trajedebaño.webp" alt="Ropa niños 12">
        <h3>Traje de Baño</h3>
        <p>Talles 1 a 5</p>
      </div>


    </div>
  </div>
</section>

