/*titulo llamado por ID*/
#titulo {

    font-size: 35px;
    text-align: center;
    padding: 1rem;


}

.card {
    margin-top: 3rem;
}

/*boton llamado por CLASE*/
.btn-action {
    background-color: rgb(255, 150, 124);
    color: black
}

.btn-action:hover{
    background-color: rgb(228, 92, 255);
}

.card-img-top{
    height: 10rem;
}