<div class="container">
    <h2>Nuevo Producto</h2>

    <!-- Inserto etiqueta "formgroup" para crear un formulario y la igualo a su nombre -->
    <!-- [formGroup] -> DIRECTIVA de formularios reactivos -> El formulario reacciona a una acción -->
    <form [formGroup]="nuevoProducto" (ngSubmit)="crearProducto()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <!-- formControlName -> atributo que vincule con la informacion de mi propiedad -->
            <input id="nombre" type="text" class="form-control" formControlName="nombre">
        </div>


        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input id="descripcion" type="text" class="form-control" formControlName="descripcion">
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input id="precio" type="number" class="form-control" formControlName="precio">
        </div>
        <!-- El boton se deshabilita cuando el "nuevoProducto" no es valido ej: faltan campos por rellenar o no cumplen el valor esperado -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="!nuevoProducto.valid">Guardar</button>


    </form>
</div>